<plugin>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.rally.RallyEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.eventListener"
                implementationClass="com.katalon.plugin.rally.RallyEventListenerInitializer">
        </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.rally.RallyToolItemDescription"
                extensionPointId="com.katalon.platform.api.extension.newToolItem"
                implementationClass="com.katalon.plugin.rally.RallyToolItemDescription">
        </point>
    </extension>
    <extension
         point="com.katalon.platform.extensions">
      <point
            id="com.katalon.plugin.rally.RallyPluginPreferencePage"
            extensionPointId="com.katalon.platform.api.extension.pluginPreferencePage"
            implementationClass="com.katalon.plugin.rally.RallyPluginPreferencePage">
      </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.rally.RallyTestCaseIntegrationPage"
                extensionPointId="com.katalon.platform.api.extension.testCaseIntegrationViewDescription"
                implementationClass="com.katalon.plugin.rally.RallyTestCaseIntegrationViewDescription">
        </point>
    </extension>
</plugin>
